//
// Prototype styles (using the Sass CSS preprocessor)
//

//
// First, we're importing the design system from the npm package
//
$static-font-path: '/assets/fonts/webfonts';

@import 'node_modules/@salesforce-ux/design-system/scss/index';

//
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import 'footer';
@import 'badges';

//
// We can also add styles directly in this file, like so:
//

// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
  // A note on Design Tokens in Sass:
  //
  // $height-header is a Sass variable pointing to a Design Token
  // Design tokens are listed at:
  // https://www.lightningdesignsystem.com/design-tokens/
  //
  // This is how you leverage Design Tokens in Sass:
  height: $height-header;
}

// Wrap the prototype in a scrollable container
.app-wrapper {
  overflow: auto;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  top: $height-context-bar + $height-header;
  bottom: 0;
  right: 0;
  left: 0;
}

/* -------------------
// Resource panel
------------------- */
html,body{
  min-height: 100%;
  height: 100%;
  background: white;
}

$panel-width: 320px;
.slds-panel{
  overflow-x: hidden;
  .slds-panel__header{
    transition: padding $duration-slide ease;
  }
  .slds-panel__close{
    transform: translateX(-42px);
    transition: transform $duration-slide ease;
  }
}
.flow_resource_detail,
.flow_resource_list{
  width: 100%;
  flex: none;
  transition: margin $duration-slide ease-in-out, opacity $duration-promptly ease;
}
.flow_resource_detail{
  opacity: 0;
}
//transition state
.show_details{
  .slds-panel__close{
    transform: translateX(0px);
  }
  .flow_resource_list{
    opacity: 0;
    margin-left: -$panel-width;
  }
  .flow_resource_detail{
    opacity: 1;
  }
}

/* -------------------
// Flow Header
------------------- */
.header__utilities{
  border-bottom: 1px solid $button-color-border-primary;
  .button-group{
    display: inline-flex;
    .slds-button{
      border-radius: 0;
      margin-left: -1px;
    }
    *:last-child{
      border-radius: 0 .25rem .25rem 0;
    }
    *:first-child{
      border-radius: .25rem 0 0 .25rem;
      margin-left: 0;
    }
    *:only-child{
      border-radius: .25rem;
    }
  }
}
