//
// Prototype styles (using the Sass CSS preprocessor)
//

//
// First, we're importing the design system from the npm package
//
$static-font-path: '/assets/fonts/webfonts';

@import 'node_modules/@salesforce-ux/design-system/scss/index';

//
// Then, we're importing some styles via Sass partials (filenames starting with a "_")
//
@import 'footer';

//
// We can also add styles directly in this file, like so:
//

// Push down the global navigation below the header using a placeholder element
.app-header-placeholder {
  // A note on Design Tokens in Sass:
  //
  // $height-header is a Sass variable pointing to a Design Token
  // Design tokens are listed at:
  // https://www.lightningdesignsystem.com/design-tokens/
  //
  // This is how you leverage Design Tokens in Sass:
  height: $height-header;
}

// Wrap the prototype in a scrollable container
.app-wrapper {
  overflow: auto;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  top: $height-context-bar + $height-header;
  bottom: 0;
  right: 0;
  left: 0;
}

$panel-width: 290px;
.slds-panel{
  overflow-x: hidden;
}
html,body{
  min-height: 100%;
  height: 100%;
}
.flow_resource_detail,
.flow_resource_list{
  width: 100%;
  flex: none;
  transition: margin .2s ease-in-out, opacity .15s ease, visibility .15s ease;
}
.flow_resource_detail{
  opacity: 0;
  visibility: hidden;
}
//transition state
.slds-panel__close{
  transform: translateX(-50px);
  transition: transform .2s ease;
}
.show_details{
  .slds-panel__close{
    transform: translateX(0px);
  }
  .flow_resource_list{
    opacity: 0;
    margin-left: -$panel-width;
  }
  .flow_resource_detail{
    opacity: 1;
    visibility: visible;
  }
}
.slds-has-dividers_bottom-space > .slds-item{
  border: none
}
