<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Flow Builder Header Bar</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-builder-header_container">
    <header class="slds-builder-header">
      <div class="slds-builder-header__item">
        <div class="slds-builder-header__item-label slds-media slds-media_center">
          <div class="slds-media__figure">
            <span class="slds-icon_container slds-icon-utility-builder slds-current-color">
              <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#builder" />
              </svg>
            </span>
          </div>
          <div class="slds-media__body">App Name</div>
        </div>
      </div>
      <nav class="slds-builder-header__item slds-builder-header__nav">
        <ul class="slds-builder-header__nav-list">
          <li class="slds-builder-header__nav-item">
            <a href="javascript:void(0);" class="slds-builder-header__item-action slds-media slds-media_center">
              <span class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-settings slds-current-color">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#settings" />
                  </svg>
                </span>
              </span>
              <span class="slds-media__body">
                <span class="slds-truncate" title="Link">Link</span>
              </span>
            </a>
          </li>
          <li class="slds-builder-header__nav-item">
            <button class="slds-button slds-builder-header__item-action slds-media slds-media_center" aria-haspopup="true" title="Click to open menu">
              <span class="slds-media__figure">
                <span class="slds-icon_container slds-icon-utility-page slds-current-color">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#page" />
                  </svg>
                </span>
              </span>
              <span class="slds-media__body">
                <span class="slds-truncate" title="Dropdown">Dropdown</span>
                <span class="slds-icon_container slds-icon-utility-chevrondown slds-current-color slds-m-left_small">
                  <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chevrondown" />
                  </svg>
                </span>
              </span>
            </button>
          </li>
        </ul>
      </nav>
      <div class="slds-builder-header__item">
        <h1 class="slds-builder-header__item-label">Page Type</h1>
      </div>
      <div class="slds-builder-header__item slds-builder-header__utilities">
        <div class="slds-builder-header__utilities-item">
          <a href="javascript:void(0);" class="slds-builder-header__item-action slds-media slds-media_center">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-utility-back slds-current-color">
                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#back" />
                </svg>
              </span>
            </div>
            <div class="slds-media__body">Back</div>
          </a>
        </div>
        <div class="slds-builder-header__utilities-item">
          <a href="javascript:void(0);" class="slds-builder-header__item-action slds-media slds-media_center">
            <div class="slds-media__figure">
              <span class="slds-icon_container slds-icon-utility-help slds-current-color">
                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#help" />
                </svg>
              </span>
            </div>
            <div class="slds-media__body">Help</div>
          </a>
        </div>
      </div>
    </header>
    <div class="header_utilities slds-p-horizontal_medium slds-p-vertical_x-small slds-grid">
      <div class="slds-col slds-col_bump-left">
        <button class="slds-button slds-button_icon slds-button_icon-border-filled">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#undo" />
          </svg>
          <span class="slds-assistive-text">Undo</span>
        </button>
        <button class="slds-button slds-button_icon slds-button_icon-border-filled">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#redo" />
          </svg>
          <span class="slds-assistive-text">Redo</span>
        </button>
        <div class="slds-button-group slds-m-left_xx-small" role="group">
          <button class="slds-button slds-button_icon slds-button_icon-border-filled">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#cut" />
            </svg>
          </button>
          <button class="slds-button slds-button_icon slds-button_icon-border-filled">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#copy" />
            </svg>
          </button>
          <button class="slds-button slds-button_icon slds-button_icon-border-filled">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#paste" />
            </svg>
          </button>
        </div>
      </div>
      <!-- //left utilities-->
      <div class="slds-col_bump-right">
        <div class="slds-form-element">
          <button class="slds-button slds-align-middle" aria-hastooltip="true" style="border-bottom: 1px dotted rgb(112, 110, 107)">Saved 10 days ago</button>
          <div class="slds-popover slds-popover_tooltip slds-nubbin_top slds-hidden" role="tooltip" id="help" style="position: absolute; top: 37px; left: -97px;">
            <div class="slds-popover__body">You last saved this version on 10/27/2017 3:15PM</div>
        </div>
        <div class="slds-form-element">
          <button class="slds-button slds-button_icon slds-button_icon-container slds-m-right_xx-small" aria-haspopover="true">
            <svg class="slds-button__icon slds-icon-text-warning" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning" />
            </svg>
          </button>
          <section class="slds-popover slds-popover_warning slds-nubbin_top slds-hidden" role="dialog" aria-labelledby="dialog-heading-id-2" aria-describedby="dialog-body-id-2" style="position:absolute; left: -143px; top:37px;">
            <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close slds-button_icon" title="Close dialog">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" />
              </svg>
              <span class="slds-assistive-text">Close dialog</span>
            </button>
            <header class="slds-popover__header">
              <div class="slds-media slds-media_center slds-has-flexi-truncate ">
                <div class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-utility-warning">
                    <svg class="slds-icon slds-icon_x-small slds-icon-text-default" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#warning" />
                    </svg>
                  </span>
                </div>
                <div class="slds-media__body">
                  <h2 class="slds-truncate slds-text-heading_medium" id="dialog-heading-id-2" title="Review warning">Review warnings</h2>
                </div>
              </div>
            </header>
            <div class="slds-popover__body slds-popover_warning__body slds-scrollable_y" id="dialog-body-id-2" style="max-height: calc(100vh - 150px);">
              <div class="slds-text-title_caps slds-border_bottom slds-p-vertical_x-small slds-m-bottom_x-small">Validation Warnings</div>
              <p>These must be fixed before you can activate the flow</p>
              <ul class='slds-list_dotted'>
                <li><strong>step (step):</strong> Flow of contains step elements. You can not activate a flow that contains steps</li>
                <li><strong>step (step):</strong> Flow of contains step elements. You can not activate a flow that contains steps</li>
              </ul>
              <div class="slds-text-title_caps slds-border_bottom slds-border_top slds-p-vertical_x-small slds-m-bottom_x-small slds-m-vertical_small">General Warnings</div>
              <p>These don’t prevent activation, but can cause runtime issues</p>
              <ul class='slds-list_dotted'>
                <li><strong>myVar (Assignment):</strong> “myVar” is not connecting to anything</li>
                <li><strong>myVar2 (Assignment):</strong> “myVar2” is not connecting to anything</li>
              </ul>
            </div>
          </section>
        </div>
        <div class="slds-form-element">
          <span class="slds-badge slds-theme_success slds-align-middle">
            <span>Activated</span>
            <button class="slds-button slds-button_icon slds-align-top slds-button_icon-inverse" aria-hastooltip="true">
              <svg class="slds-button__icon" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info" />
              </svg>
              <span class="slds-assistive-text">Provide description of action</span>
            </button>
            <div class="slds-popover slds-popover_tooltip slds-nubbin_top-right slds-hidden" role="tooltip" id="help" style="position: absolute; top: 37px; left: -151px;">
              <div class="slds-popover__body">You must save a new version to edit</div>
          </div>
          </span>

        <div class="slds-button-group slds-m-left_xx-small" role="group">
          <button class="slds-button slds-button_neutral">Debug</button>
          <button class="slds-button slds-button_neutral">Run</button>
        </div>
        <button class="slds-button slds-button_neutral">Save As</button>
        <button class="slds-button slds-button_brand">Save</button>
      </div>
      <!-- //left utilities-->
    </div>

  <script src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/jquery.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
  <script>
    $(function(){
      var tooltip = $("[aria-hastooltip='true']");
      var popover = $("[aria-haspopover='true']");
      tooltip.hover(function(){
        $(this).next().removeClass("slds-hidden");
      },function(){
        $(this).next().addClass("slds-hidden");
      });
      popover.click(function(){
        $(this).next().removeClass("slds-hidden");
      });

      $("[aria-hastooltip='true'], [aria-haspopover='true']").focus(function(){
        $(this).next().removeClass("slds-hidden");
      })
      $("[aria-hastooltip='true'], [aria-haspopover='true']").blur(function(){
        $(this).next().addClass("slds-hidden");
      })
    })
  </script>
</body>
</html>
